[Desktop Entry]
Type=Application
Name=Catgirl Engine
Comment=Moddable Game Engine
Icon=land.catgirl.engine
Exec=${engine_path}
Categories=Game;
StartupWMClass=land.catgirl.engine
PrefersNonDefaultGPU=true
SingleMainWindow=true
