[Desktop Entry]
Type=Application
Name=Catgirl Engine
Comment=Moddable Game Engine
Icon=catgirl-engine
Exec=${engine_path}
Categories=Game;
StartupWMClass=catgirl-engine
PrefersNonDefaultGPU=true
SingleMainWindow=true
