# https://doc.rust-lang.org/cargo/reference/config.html?highlight=alias#configuration-format

[target.x86_64-unknown-linux-gnu]
ar = "/usr/bin/x86_64-linux-gnu-ar"
linker = "/usr/bin/x86_64-linux-gnu-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Clink-arg=-Wl,--enable-new-dtags,-rpath,/lib/x86_64-linux-gnu,-rpath,/usr/lib/x86_64-linux-gnu,-rpath-link,$WORKSPACE/target/libs"]

[target.x86_64-unknown-linux-musl]
ar = "/usr/bin/ar"
linker = "/usr/bin/musl-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Crelocation-model=static", "-Clink-arg=-Wl,-lc,--enable-new-dtags,-rpath,/lib/x86_64-linux-musl,-rpath,/lib/x86_64-linux-musl/catgirl-engine,-rpath-link,$WORKSPACE/target/libs"]

[target.armv7-linux-androideabi]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/armeabi-v7a"]

[target.aarch64-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker ="/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/arm64-v8a"]

[target.i686-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/x86"]

[target.x86_64-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/x86_64"]

[target.aarch64-unknown-linux-gnu]
ar = "/usr/bin/aarch64-linux-gnu-gcc-ar"
linker = "/usr/bin/aarch64-linux-gnu-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Clink-arg=-Wl,--enable-new-dtags,-rpath,/lib/aarch64-linux-gnu,-rpath,/usr/lib/aarch64-linux-gnu,-rpath-link,$WORKSPACE/target/libs"]

[target.x86_64-apple-darwin]
ar = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar"
linker = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang"
rustflags = ["-L$WORKSPACE/target/libs"]
#rustflags = ["-arch", "x86_64", "-mmacosx-version-min=10.9", "-DMAC_OS_X_VERSION_MIN_REQUIRED=1070", "-I/usr/local/include"]

[target.aarch64-apple-darwin]
ar = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar"
linker = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang"
rustflags = ["-L$WORKSPACE/target/libs"]
#rustflags = ["-arch", "arm64", "-mmacosx-version-min=11.0", "-DMAC_OS_X_VERSION_MIN_REQUIRED=1070", "-I/usr/local/include"]