# https://doc.rust-lang.org/cargo/reference/config.html?highlight=alias#configuration-format

[target.x86_64-unknown-linux-gnu]
ar = "/usr/bin/x86_64-linux-gnu-ar"
linker = "/usr/bin/x86_64-linux-gnu-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Crelocation-model=static", "-Clink-arg=-Wl,-lc,--enable-new-dtags,-rpath,/lib/x86_64-linux-gnu,-rpath,/usr/lib/x86_64-linux-gnu,-rpath-link,$WORKSPACE/target/libs"]

[target.x86_64-unknown-linux-musl]
ar = "/usr/bin/ar"
linker = "/usr/bin/musl-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Crelocation-model=static", "-Clink-arg=-Wl,-lc,--enable-new-dtags,-rpath,/lib/x86_64-linux-musl,-rpath,/lib/x86_64-linux-musl/catgirl-engine,-rpath-link,$WORKSPACE/target/libs"]

[target.armv7-linux-androideabi]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi{android-version}-clang"

[target.aarch64-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker ="/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android{android-version}-clang"

[target.i686-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android{android-version}-clang"

[target.x86_64-linux-android]
ar = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar"
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android{android-version}-clang"