# https://doc.rust-lang.org/cargo/reference/config.html?highlight=alias#configuration-format

[target.x86_64-unknown-linux-gnu]
linker = "/usr/bin/x86_64-linux-gnu-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Clink-arg=-Wl,--enable-new-dtags,-rpath,/lib/x86_64-linux-gnu,-rpath,/usr/lib/x86_64-linux-gnu,-rpath-link,$WORKSPACE/target/libs"]

[target.x86_64-unknown-linux-musl]
linker = "/usr/bin/musl-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Crelocation-model=static", "-Clink-arg=-Wl,-lc,--enable-new-dtags,-rpath,/lib/x86_64-linux-musl,-rpath,/lib/x86_64-linux-musl/catgirl-engine,-rpath-link,$WORKSPACE/target/libs"]

[target.armv7-linux-androideabi]
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/armeabi-v7a"]

[target.aarch64-linux-android]
linker ="/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/arm64-v8a"]

[target.i686-linux-android]
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/x86"]

[target.x86_64-linux-android]
linker = "/usr/local/lib/android/sdk/ndk/current/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android{android-version}-clang"
rustflags = ["-L$WORKSPACE/android/app/build/intermediates/cmake/release/obj/x86_64"]

[target.aarch64-unknown-linux-gnu]
linker = "/usr/bin/aarch64-linux-gnu-gcc"
rustflags = ["-L$WORKSPACE/target/libs", "-Clink-arg=-Wl,--enable-new-dtags,-rpath,/lib/aarch64-linux-gnu,-rpath,/usr/lib/aarch64-linux-gnu,-rpath-link,$WORKSPACE/target/libs"]

[target.x86_64-apple-darwin]
linker = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang"
rustflags = ["-Clink-arg=--target=x86_64-apple-macos", "-Clink-arg=-Wl,-F$WORKSPACE/build/sdk/System/Library/Frameworks,-framework,CoreAudio,-framework,CoreFoundation,-framework,CoreGraphics,-framework,ImageIO,-framework,CoreServices"]

[target.aarch64-apple-darwin]
linker = "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang"
rustflags = ["-Clink-arg=--target=aarch64-apple-macos", "-Clink-arg=-Wl,-F$WORKSPACE/build/sdk/System/Library/Frameworks,-framework,CoreAudio,-framework,CoreFoundation,-framework,CoreGraphics,-framework,ImageIO,-framework,CoreServices"]

[target.x86_64-pc-windows-gnu]
linker = "/usr/bin/x86_64-w64-mingw32-gcc-posix"
rustflags = ["-L$WORKSPACE/target/libs"]

[target.wasm32-unknown-emscripten]
linker = "$WORKSPACE/tools/emsdk/upstream/emscripten/emcc"
rustflags = ["-L$WORKSPACE/target/libs", "-lpthread", "-Clink-arg=-Wl,-lpthread", "-Ctarget-feature=+atomics,+bulk-memory,+mutable-globals"]