---
---

@import "{{ site.theme }}";

canvas {
    background-color: black;
}

#catgirl-engine-canvas {
    margin-top: 1rem;
}

// These are to override the theme's settings
.wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

section {
    max-width: 100%;
}
